<launch>
   <include file="$(find marmot)/launch/vrpn.launch"/>

  <node pkg="map_server" type="map_server" name="map_broadcaster" args="$(find marmot)/map/demonstration.yaml">
    <param name="frame_id" value="map" />
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="Optitrack_to_map"  args="4.5 0 0.07 0 0 0 /map /optitrack 100"/>


  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find marmot)/rviz/dynamic_rviz.rviz" />
</launch>